body {
  background-image: url(./components/Images/background.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

/* #############Profile################ */
.profile_img {
  border-radius: 30%;
  height: 40%;
  margin-top: 45px
}


.profile_info {
  background-color: black;
  text-align: center;
  z-index: 10;
  height: 85vh;
  margin: 30px;
  margin-top: 60px;
  margin-right: 0px;
  margin-left: 70px;
  opacity: 0.8;



}

.profile_intro {
  background-color: azure;
  opacity: 0, 99;
  padding: 60px;
  height: 85vh;
  margin: 30px;
  margin-left: 0px;
  margin-top: 60px;
  opacity: 0.85;

}

.profile_text {
  margin: 10px;
  font-size: 25px;
  color: whitesmoke;
}

/* #############info_text################# */